* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    width: 100%;
    min-height: 80px;
    background-color: rgb(255, 104, 1);
    position: fixed;
    top: 0;
    left: 0;
}

.header-container{
    max-width: 1170px;
    max-height: 80px;
    margin: 10px auto;
    display: flex;
    justify-content: space-around;
}

.header-container > div{
    width: calc(100% / 3);
    margin: 10px auto;
    color: white;
}

.logo{
    max-height: 42.5px;
    max-width: 100%;
    text-align: center;
}

.icone{
    text-align: right;
}

main{
    max-width: 1170px;
    margin: auto;
}
