* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    width: 100%;
    min-height: 80px;
    background-color: rgb(255, 104, 1);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
   padding: 20px;
   color: white;
   font-weight: bold;
   z-index: 3;
}


.logo{
    max-height: 42.5px;
    max-width: 100%;
    text-align: center;
}

.icone{
    padding: 5px;
}


.container{
    max-width: 1170px;
    padding: 15px;
    margin: 140px auto;
}

.item{
    position: relative;
    max-width: 350px;
}


.presentazione-1{
    width: 100%;
}

.presentazione-1b{
    width: 100%;
    display: none;
    z-index: 2;
    position: absolute;
   
}

.column {
    display: flex;
    flex-wrap: wrap;
}

.col{
    display: flex;
    flex-wrap: wrap;
    width: calc(100% / 3);
    padding: 10px;
}


.marca{
    font-size: 14px;
    font-weight: 200;
}

.price{
    color: red;
    font-weight: bold;
}

.original-price{
    text-decoration: line-through;
    font-weight: lighter;
}

 .red-tag{
    position: absolute; 
    bottom: 25px;
    left:0;
    background-color: red;
    z-index: 2;
}

.green-tag{
    position: absolute; 
    background-color: green ;
    left: 40px;
    bottom: 25px;
    z-index: 2;
}

.special-green-tag{
    position: absolute;
    left: 0;
    bottom: 25px;
    background-color: green;
    z-index: 2;
}

.wish-list{
    position: absolute;
    top: 15px;
    right: 0;
    background-color: white;
    padding: 15px;
    z-index: 2;
}

.item:hover .presentazione-1b{
    display: inline;
    width: 100%;
    position: absolute;
    left: 0;
    z-index: 1;
}


.footer-container{
    width: 100%;
    min-height: 70px;
    background-color: rgb(26, 26, 26);
    position: fixed;
    bottom: 0;
    left: 0;
   z-index: 2;
   display: flex;
   justify-content: space-between;
   padding: 10px;
}

.casella-sinistra , .casella-destra {
    color: white;
    padding: 10px;
    margin: 0 30px
}

.fa-brands{
    color: white;
    padding: 5px;
}

.wish-list:hover{
    color: red;
}


